.card-container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  align-items: center;
  height: 175px;
  
}
.card-content {
  display: grid;
  grid-template-columns: 90px auto;
  column-gap: 15px;
  align-items: center;
  justify-items: start;
}

.card-avatar {
  border: 1px solid black;
  border-radius: 20%;
  grid-row: 1 / -3;
  width: 90px;
  height: 90px;
}
