.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px black;
  padding: 0px 7px;
}

.container-entity {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.img-logo {
  height: 70px;
}

.container-search {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin: 10px 5px;
}
